@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');


@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #d0e6eb;
  --color-peach: #e0a299;
  --color-beige: #e7cbae;
  --color-pastel: #fefdf5;

}
html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-primary);
  color: var(--color-peach);
  font-family: var(--font-semibold);
  padding: 2em;
  text-align: center;
  margin: 0 auto;
}
.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo:hover {
  filter: drop-shadow(1em 1em 1em #a1a2ad);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbar-text {
color: var(--color-peach);
}
.logo {
  @apply h-35 w-35 rounded-[25%] transition-all duration-300 ease-in-out p-4 ml-20;
}
.title-hover-shadow {
  transition: filter 0.3s ease;
}

.title-hover-shadow:hover {
  filter: drop-shadow(2em 2em 2em #a1a2ad);
}
