@import "tailwindcss";

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #d0e6eb;
  --color-peach: #e0a299;
  --color-dpeach: #9e5b51;
  --color-beige: #e7cbae;
  --color-pastel: #fefdf5;

}
html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 90vw;
  background-color: var(--color-primary);
  color: var(--color-peach);
  font-family: var(--font-semibold);
  padding: 2em;
  text-align: center;
  margin: 0 auto;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeDown {
  animation: fadeDown 0.3s ease both;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbar-text {
color: var(--color-peach);
}
.logo {
  @apply rounded-[25%] transition-all duration-300 ease-in-out;
  width: clamp(60px, 12vw, 180px);
  height: auto;
}

.logo:hover {
  filter: drop-shadow(1em 1em 1em #a1a2ad);
  transform: scale(1.1);
}

.logo-spin {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.title-hover-shadow {
  transition: filter 0.3s ease;
}

.title-hover-shadow:hover {
  filter: drop-shadow(2em 2em 2em #a1a2ad);
}

.product-one {
  @apply w-full lg:w-1/2 object-cover;
}
.product-two {
  @apply w-[30em] h-auto m-10 rounded-[3%];
}

/* Hero section */
.container {
  @apply mx-auto flex flex-col lg:flex-row items-center justify-between gap-10 py-10;
}

.slide {
  @apply absolute inset-0 opacity-0 z-0 transition-opacity duration-800 rounded-[3%];
}

.slide.active {
  @apply opacity-100 z-10 rounded-[3%];
}

.slide__outer {
  @apply absolute inset-0 rounded-[3%];
}


.slide__inner {
  @apply absolute inset-0 rounded-[3%];
}


.slide img {
  @apply w-full h-full object-cover rounded-[3%] m-auto;
}


.count {
  @apply absolute top-4 right-4 text-white text-2xl font-bold;
}


.hero-wrapper {
  @apply relative w-full overflow-hidden min-h-[400px];
}


.hero-text h1 {
  @apply text-[3vw] md:text-sm lg:text-lg xl:text-xl 2xl:text-2xl  mb-5 mr-5 text-justify leading-relaxed;
}
.hero-text {
  @apply w-full lg:w-1/2 text-xl text-justify leading-relaxed my-18;
}


@media (min-width: 1024px) {
  .hero-wrapper {
    @apply w-full lg:w-1/2;
  }
}


/*page bottom*/

.navbar-shadow {
  box-shadow: 0 -2px 5px #e0a299;
  padding-top: 10px;
}
